<%= form_for(@user) do |f| %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <br/>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :surname %>
      <br/>
      <%= f.text_field :surname %>
    </div>

    <div class="field">
      <p><%= f.label 'Role:' %><br/></p>

      <p><%= f.radio_button :admin, true %>Admin</p>

      <p><%= f.radio_button :admin, false %>User</p>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>